body{
  background-color: white;
}

.main-welcome {
  text-align: center;
  height: 100px;
  
}

.h1-welcome {
  font-size: 2.5em;
  margin-bottom: 10px;
 
  
}


.search {
  display: flex; 
  justify-content: center;
  width: 100%; /* Ocupa todo el ancho disponible */
 
  
}

.searchTerm {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 1em;
  
}

.searchButton {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  background-color: #f8f9fa;
  font-size: 1em;
}



  

  



















.portada-uno {
  position: relative;
  height: 100px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  width: 100%;
  height: 400px;
  
}

.portada-uno img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.descripcion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Color del texto */
}

.h2-portadauno{
  font-size: 50px; /* Tamaño del título */
  font-style: normal;
}

.p123 {
  font-size: 1.2em; /* Tamaño del texto */
}













.portadawelcome {
  position: relative;

}
.carrusel {
  width: 100%;
  overflow: hidden;

}



.carrusel-item {

  display: none;
  width: 100%;
  height: 400px; /* Altura de cada imagen del carrusel */
  position: relative;
  animation: cambioImagen 6s infinite; /* Animación para cambiar de imagen cada 6 segundos */
  
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el objeto de ajuste para cubrir completamente el contenedor */
}

.carrusel-item:first-child {
  display: flex;/* Muestra la primera imagen al cargar la página */
}


















/* Estilos del catálogo */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 30%;
}

.product img {
  max-width: 100%;
}

.price {
  font-weight: bold;
  color: #333;
}

.buy-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #555;
}



























/* Estilos para el Carrusel de Productos */
.products {
  
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  gap: 10px; /* Espacio entre productos */
  padding: 10px; /* Espacio alrededor del carrusel */
  width: 100%; /* Ancho del carrusel */
  scroll-behavior: smooth; /* Agrega transiciones suaves al desplazamiento */
  animation: carousel 8s infinite; /* Inicia la animación y repite infinitamente cada 8 segundos */


}

.product {
    flex: 0 0 calc(33.33% - 50px); /* Tres productos por fila con espacio entre ellos */
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: start; /* Alinea cada producto al inicio del carrusel */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}

.add-to-cart {
    background-color: #D38366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #922F16;
}

/* Evita que el carrusel tenga barras de desplazamiento horizontales */
::-webkit-scrollbar {
    display: none;
}












/* Estilos para el Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button a {
    background-color: #25d366;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
    position: relative;
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
    margin-right: 0px;
    transition: margin-right 0.3s ease;
}

/* Estilos para el Globo de Mensaje */
.message {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #25d366;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar el mensaje cuando pasas el cursor sobre el botón */
.whatsapp-button a:hover .message {
    opacity: 1;
}






















ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}